.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body[data-aos-delay='3400'] [data-aos], [data-aos][data-aos][data-aos-delay='3400']{
  transition-delay: 3400ms;
  }
body[data-aos-delay='3700'] [data-aos], [data-aos][data-aos][data-aos-delay='3700']{
    transition-delay: 3700ms;
  }
body[data-aos-delay='4000'] [data-aos], [data-aos][data-aos][data-aos-delay='4000']{
      transition-delay: 4000ms;
  }

  body[data-aos-delay='6400'] [data-aos], [data-aos][data-aos][data-aos-delay='6400']{
    transition-delay: 6400ms;
    }
  body[data-aos-delay='6700'] [data-aos], [data-aos][data-aos][data-aos-delay='6700']{
      transition-delay: 6700ms;
    }
  body[data-aos-delay='7000'] [data-aos], [data-aos][data-aos][data-aos-delay='7000']{
        transition-delay: 6600ms;
    }

body[data-aos-delay='9400'] [data-aos], [data-aos][data-aos][data-aos-delay='9400']{
        transition-delay: 9400ms;
        }

body[data-aos-delay='9700'] [data-aos], [data-aos][data-aos][data-aos-delay='9700']{
          transition-delay: 9700ms;
          }
  body[data-aos-delay='10000'] [data-aos], [data-aos][data-aos][data-aos-delay='10000']{
            transition-delay: 10000ms;
            }

 .footer-background{
              background-image: url("https://i.ibb.co/gW3vffR/malaysia-1864676-1280.jpg");
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              background-attachment: fixed;
          }
.footer-background1{
  background-image: url("https://i.ibb.co/WfPcPFs/water-2208931-1280.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}   


